{% extends "base.html" %}
{% load admin_static %}

{% block content %}
<div class="wrap">
    <div class="content">
        <ul class="fly-list fly-list-top">

            {% for article in articles %}
                <li class="fly-list-li">
                    <h2 class="fly-tip">
                <a href="{% url 'info:article_detail' article.uid %}">{{ article.title }}</a>
                <span class="fly-tip-stick">置顶</span>
                <span class="fly-tip-jing">精帖</span>
              </h2>
                <p>
                        <span><a href="user/home.html">Silence</a></span>
                        <span class="fly-list-hint">
                  <i class="iconfont" title="人气">&#xe60b;</i> 6830
                </span>
                </p>
                <p><img src="{{ article.image.url }}" alt=""></p>
                <p>{{ article.intro }}</p>
                </li>
            {% endfor %}
        </ul>
        <div style="text-align: center">
            <div class="laypage-main">
                <a href="{% url 'info:article_list' %}" class="laypage-next">更多</a>
            </div>
        </div>
    </div>
</div>
<div class="edge">
    <dl class="fly-panel fly-list-one">
        <dt class="fly-panel-title">最近更新</dt>
        <dd>
            <a href="/">codingcat.top</a>
            <span><i class="iconfont">&#xe60b;</i> 6087</span>
        </dd>
    </dl>
    <div class="fly-panel fly-link">
        <h3 class="fly-panel-title">友情链接</h3>
        <dl>
            <dd>
                <a href="https://www.peachis.me/" target="_blank">peachis.me</a>
            </dd>
            <dd>
                <a href="http://nsdont.me/" target="_blank">nsdont.me</a>
            </dd>
            <dd>
                <a href="https://tommao.me/" target="_blank">tommao.me</a>
            </dd>
        </dl>
    </div>
</div>

{% endblock content %}