{% extends 'base.html' %}{% load static %}
 {% block extrastyle %} {{ block.super }}
 <link href="{% static 'css/viewer.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/prism.css' %}" rel="stylesheet" />
{% endblock extrastyle %}

{% block topPanel %}
<div class="fly-panel fly-column">
    <div class="layui-container">
        <ul class="layui-clear">
            <li class="layui-hide-xs layui-this"><a href="/">首页</a></li>
        </ul>

    </div>
</div>
{% endblock topPanel %}

{% block leftBlock %}
<div style="display:none;">
  <img id="image-viewer" src="" alt="Picture">
</div>

<div class="layui-col-md9 content detail">
    <div class="fly-panel detail-box">
        <h1>{{ article.title }}</h1>
        <div class="fly-detail-info">
            <span class="layui-badge layui-bg-blue fly-detail-column">{{ article.column.name|default:'未分类' }}</span>

            <span class="fly-list-nums">
            <!-- <a href="#comment"><i class="iconfont" title="回答">&#xe60c;</i> </a>
            <i class="iconfont" title="人气">&#xe60b;</i> -->
          </span>
        </div>

        <div class="detail-body photos" id="images-show">{{ article.content|safe }}</div>
    </div>
</div>
{% endblock leftBlock %}
{% block extrascript %}
<script src="{% static 'js/prism.js' %}"></script>
<script src="{% static 'js/viewer.min.js' %}"></script>
<script src="{% static 'js/jquery-viewer.min.js' %}"></script>
<script>
$(function() {
    var image = $('#image-viewer');

    image.viewer({
      inline: true,
      viewed: function() {
        image.viewer('zoomTo', 1);
      }
    });

    // Get the Viewer.js instance after initialized
    var viewer = image.data('viewer');

    // View a list of images
    $('#images-show').viewer();
})

</script>
{% endblock extrascript %}