{% extends "base.html" %}
{% load admin_static %}

  {% block extrastyle %}
    {{ block.super }}
    <link href="{% static 'highlight/styles/monokai_sublime.css' %}" rel="stylesheet">
    {% endblock extrastyle %}

{% block content %}
<div class="main layui-clear">
    <div class="wrap">
        <div class="content detail">
            <div class="fly-panel detail-box">
                <h1>{{ column.name }}</h1>
                <div class="detail-body photos" style="margin-bottom: 20px;">
                {{ column.intro|safe }}
                </div>
            </div>
        </div>
    </div>
    <div class="edge">
        <dl class="fly-panel fly-list-one">
            <dt class="fly-panel-title"><a href="{% url 'info:column_detail' column.uid %}" title="">{{ column.name }}</a></dt>
            {% for article in articles %}
            <dd>
                <a href="{% url 'info:column_article' column.uid article.uid %}">{{ article.title }}</a>
            </dd>
            {% endfor %}
        </dl>
    </div>
</div>
{% endblock content %}

{% block extrascript %}
<script src="{% static 'highlight/highlight.pack.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock extrascript %}
