{% extends "base.html" %}
{% load admin_static %}

{% block content %}

<div class="container">
  <div class="row post">
      {% for category in categories %}
      <div class="col-xs-4 col-md-2 col-lg-1 col-sm-2">
        <a href="{{ request.path }}?category={{ category.uid }}" class="btn btn-default">{{ category.name }}</a>
      </div>
      {% endfor %}
  </div>

  <div class="row post">
    {% for item in resources %}
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="{{ item.image.url }}" data-holder-rendered="true" style="height: 165px; width: 100%; display: block;">
        <div class="caption">
          <h4>{{ item.title }}</h4>
          <p>{{ item.intro|truncatechars:16 }}</p>
          <p class="pull-right"><a href="{{ item.link }}" class="btn btn-primary" target="_blank" role="button">查看详情</a></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}