{% extends "base.html" %}
{% load admin_static %}

{% block content %}

<div class="container">
  <div class="row post">
    <div class="col-xs-12 hidden-xs hidden-sm">
      {% for category in categories %}
      <a href="{{ request.path }}?category={{ category.uid }}" class="btn btn-default">{{ category.name }}</a>
      {% endfor %}
    </div>
  </div>

  <div class="row post">

    {% for item in resources %}
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="{{ item.image.url }}" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
        <div class="caption">
          <h4>{{ item.title }}</h4>
          <p>{{ item.intro|truncatechars:85 }}</p>
          <p><a href="{{ item.link }}" class="btn btn-primary" target="_blank" role="button">查看详情</a></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}