<style>
body {
    background: #f6f7f8;
}
    .content {
        width: 1080px;
        margin: 0 auto;
    }
    .card {
        width: 344px;
        padding: 27px 24px 22px;
        margin-top: 24px;
        background: #fff;
        box-shadow: 0 1px 3px rgba(27,95,160,.1);
    }
    .card p {
        padding-top: 6px;
        line-height: 24px;
        text-align: justify;
        font-size: 14px;
        font-weight: 400;
        color: #303030;
    }
</style>

<div class="content">
    <div class="card">
<a  href="https://cnutcon2018.geekbang.org/?utm_source=infoq&amp;utm_medium=newweb&amp;utm_campaign=bar#schedule" target="_blank"><img width="100%" src="https://static001.geekbang.org/static/infoq/www/img/home-week.50d0c56.jpg"></a>
<p >
          Twitter、RIOT Games（英雄联盟开发商）、BAT、华为等国内外一线大厂有哪些新技术和新实践？
          <a data-v-3464f661="" data-v-9f38139c="" href="https://cnutcon2018.geekbang.org/?utm_source=infoq&amp;utm_medium=newweb&amp;utm_campaign=bar#schedule" target="_blank">
            查看详情
            <i data-v-3464f661="" data-v-9f38139c="" class="iconfont"></i></a> <br data-v-3464f661="" data-v-9f38139c=""> <span data-v-3464f661="" data-v-9f38139c="" class="small-font">更多活动，请参见 <a data-v-3464f661="" data-v-9f38139c="" href="https://www.geekbang.org/events/?utm_source=tbzt" target="_blank">活动大本营</a></span></p>
    </div>
</div>