{% extends 'base.html' %}{% load static %}
 {% block extrastyle %} {{ block.super }}
<link href="{% static 'css/prism.css' %}" rel="stylesheet" />
{% endblock extrastyle %}

{% block topPanel %}
<div class="fly-panel fly-column">
    <div class="layui-container">
        <ul class="layui-clear">
            <li class="layui-hide-xs layui-this"><a href="/">技术</a></li>
            <li><a href="#">其他</a></li>
        </ul>

    </div>
</div>
{% endblock topPanel %}

{% block leftBlock %}
<div class="layui-col-md8 content detail">
    <div class="fly-panel detail-box">
        <h1>Codingcat 编程猫</h1>
        <div class="fly-detail-info">
            <span class="layui-badge layui-bg-blue fly-detail-column">cat</span>
        </div>

        <div class="detail-body photos">
            <p>做互联网时代的终生学习者 <br>
            <blockquote>无论这个世界对你怎么样，都请你一如既往地努力、勇敢、充满希望</blockquote>

<pre class="language-bash">
<span style="color:#66d9ef">Github:</span> https://github.com/istommao

<span style="color:#66d9ef">zhihu:</span> https://zhuanlan.zhihu.com/codingcat

<span style="color:#66d9ef">Email:</span> aXN0b21tYW9AZ21haWwuY29t
</pre>

<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="//music.163.com/outchain/player?type=2&id=516838963&auto=1&height=66"></iframe>
            </p>
        </div>

    </div>
</div>
{% endblock leftBlock %}
{% block extrascript %}
<script src="{% static 'js/prism.js' %}"></script>
{% endblock extrascript %}