{% load admin_static extags %}
<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% endblock extrastyle %}
    <title>codingcat</title>
</head>
<body>
{% block body %}
    {% block navbar %}
    <header class="navbar navbar-inverse navbar-static-top" id="top">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand {% activelink request.path '/' %}">Codingcat</a>
        </div>
        <nav id="bs-navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="{% activelink request.path '/info/article/' %}">
              <a href="{% url 'info:article_list' %}">资讯</a>
            </li>
            <li class="{% activelink request.path '/collector' %}">
              <a href="{% url 'collector:collect_list' %}">收藏家</a>
            </li>
            <li class="{% activelink request.path '/about' %}">
              <a href="/about">关于</a>
            </li>
            <li>
              <a href="https://silentnotes.top/" target="_blank">无声笔记</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    {% endblock navbar %}

    {% block banner %}{% endblock banner %}
    <div id="content">{% block content %}{% endblock content %}</div>

    {% block mainscript %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% endblock mainscript %}

{% endblock body %}
</body>
</html>