{% load admin_static extags %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CodingCat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="CodingCat">
    <meta name="description" content="CodingCat">
    {% block extrastyle %}
    <link rel="stylesheet" href="{% static 'res/layui/css/layui.css' %}">
    <link rel="stylesheet" href="{% static 'res/css/global.css' %}">
    {% endblock extrastyle %}
</head>

<body>
{% block body %}
    {% block navbar %}
    <div class="header">
        <div class="main">
            <a class="nav-logo" href="/" title="CodingCat">CodingCat</a>
            <div class="nav">
                <a class="{% active_url request.path '/info/article/' %}" href="{% url 'info:article_list' %}">文章</a>
                <a class="{% active_url request.path '/info/column/' %}" href="{% url 'info:column_list' %}">专栏</a>
                <a class="{% active_url request.path '/collector' %}" href="{% url 'collector:collect_list' %}">收藏家</a>
                <a class="{% active_url request.path '/note' %}" href="/note">无声笔记</a>
                <a class="{% active_url request.path '/about' %}" href="/about">关于</a>
            </div>
        </div>
    </div>
    {% endblock navbar %}

    <div class="main layui-clear">
        {% block content %}{% endblock content %}
    </div>

    <div class="footer">
        <p><a href="/">编程猫</a> 2017 &copy; <a href="https://codingcat.top/">codingcat.top</a></p>
    </div>

    {% block mainscript %}
    <script src="{% static 'res/layui/layui.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script>
    function footerPosition(){
        $(".footer").removeClass("fixed-bottom");
        var contentHeight = document.body.scrollHeight,//网页正文全文高度
            winHeight = window.innerHeight;//可视窗口高度，不包括浏览器顶部工具栏
        if(!(contentHeight > winHeight)){
            //当网页正文高度小于可视窗口高度时，为footer添加类fixed-bottom
            $(".footer").addClass("fixed-bottom");
        }
    }
    footerPosition();

    </script>
    {% endblock mainscript %}

    {% block extrascript %}{% endblock extrascript %}
{% endblock body %}
</body>
</html>
