{% extends "base.html" %} {% load admin_static %}
{% block content %}
<div class="fly-main" style="overflow: hidden;">
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
           {% for category in categories %}
            <li class="layui-this-"><a href="{{ request.path }}?category={{ category.uid }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="main">
        {% for item in resources %}
        <div class="cardCover">
            <a href="{{ item.link }}" target="_blank" rel="nofollow">
                <div class="cardBox">
                    <div class="box">
                        <div class="boxImg"><img src="{{ item.image.url }}"></div>
                        <div class="boxContent">
                            <p class="boxTitle" title="{{ item.title }}">{{ item.title }}</p>
                            <p class="boxDesc" title="{{ item.intro|truncatechars:32 }}">{{ item.intro|truncatechars:32 }}</p>
                            <div class="boxBottom">
                                <div class="bottom-box clearfix">
                                    <div class="evaluation-box l">
                                        <div class="author-info"><span>codingcat</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock content %}